*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  // font-size: 40%;
  color: white;

  @media only screen and (max-width: $bp-tablet) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-mobile) {
    font-size: 40%;
  }
}

body {
  font-family: var(--font-primary);
  font-weight: 300;
  box-sizing: border-box;
}

.main {
  @include full-screen-absolute;
  @media only screen and (max-height: $bp-height-fix) {
    height: $bp-height-fix;
  }

  // display: grid;
  // grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: repeat(10, 1fr);
}

#background {
  @include full-screen-absolute;
  @media only screen and (max-height: $bp-height-fix) {
    height: $bp-height-fix;
  }
}
