*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  // font-size: 40%;
  color: white;

  @media only screen and (max-width: $bp-tablet) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-mobile) {
    font-size: 40%;
  }
}

body {
  font-family: var(--font-primary);
  font-weight: 300;
  box-sizing: border-box;
}

.main {
  @include full-screen-absolute;
  @media only screen and (max-height: $bp-height-fix) {
    height: $bp-height-fix;
  }

  // display: grid;
  // grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: repeat(10, 1fr);
}

#background {
  @include full-screen-absolute;
  @media only screen and (max-height: $bp-height-fix) {
    height: $bp-height-fix;
  }
}

.spinner {
  background-color: black;
  z-index: 532523523532;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-top: 2px solid white;
    border-right: 2px solid transparent;
    animation: spinner 0.8s linear infinite;
  }
}

.background__text {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1.5rem;
  z-index: 500;

  p {
    font-family: "Tangerine", cursive;
    font-size: 5rem;
    letter-spacing: 2px;
  }

  @media only screen and (max-height: $bp-height-fix) {
    top: 635px;
  }
}
