*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: white;
}

body {
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100vh;
  overflow: hidden;
}

.main {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15vh 5vh repeat(8, 10vh);
  gap: 1rem;
  overflow: hidden;
}

.hidden {
  display: none;
}

.hide-form {
  transform: translateY(-100rem);
}
