.main {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  position: relative;
  display: grid;
  grid-template-columns:
    repeat(2, 1fr) repeat(4, minmax(10rem, 1fr))
    repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 1fr;

  // Container for the app
  &__container {
    grid-column: 3 / span 4;
    grid-row: 2 / 3;
    z-index: 30;

    box-shadow: rgba(0, 0, 0, 0.15) -0.5rem -0.5rem 2rem 1rem;

    border-radius: 25px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    // background: radial-gradient(circle at 50% -25%, #7c96c6 5%, #060221 45%);
    backdrop-filter: blur(6px) brightness(120%);

    &-input {
      padding: 1rem;
      width: 30rem;
      height: 5rem;
      border-radius: 200px;
      border: 1px solid black;
      transition: all 0.2s;
      // background-color: var(--rainy-tertiary);
      background: inherit;
      backdrop-filter: brightness(30%);

      &:focus {
        transform: scaleX(1.1);
      }
    }

    &-h1 {
      text-align: center;
      font-weight: 100;
      font-size: 5rem;
      text-shadow: #000 0 0 0.9rem;
    }
  }
}
