.forecast-state {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  // background: linear-gradient(
  //   to right bottom,
  //   var(--rainy-primary),
  //   var(--rainy-secondary)
  // );

  // SUNNY WEATHER
  /*
/////////////////////////////////////////////////// SUNNY {
  SUNNY MORNING
    background: radial-gradient(
    farthest-corner at -30vw 140vh,
    #96860a 20%,
    #1a1143 80%
  );
}

.clouds {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: day-shine;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
    background-image: url(../img/sun-day.png);
    background-repeat: no-repeat;
    background-size: 100vh 100vh;
    background-position: -20vw 55vh;

    z-index: 9;
  }
}

///////////////////////////////////////////////////
  SUNNY DAY
  background: radial-gradient(
    farthest-corner at 40vw -130vh,
    #ffe100 20%,
    #6598ff 80%
  );

  .clouds {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: day-shine;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
    background-image: url(../img/sun-day.png);
    background-repeat: no-repeat;
    background-size: 100vh 100vh;
    background-position: 20vw -40vh;

    z-index: 9;
  }

///////////////////////////////////////////////////
  SUNNY EVENING
  background: radial-gradient(
    farthest-corner at 100vw 130vh,
    #ff8000 20%,
    #5a3673 80%
  );

  
.clouds {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: night-shine;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    background-image: url(../img/sun-day.png);
    background-size: 120vh 120vh;
    background-repeat: no-repeat;
    background-position: 65vw 35vh;
  }
}

///////////////////////////////////////////////////
  SUNNY NIGHT
  background: radial-gradient(
    farthest-corner at 40vw -130vh,
    #7c96c6 25%,
    #060221 70%
  );

  .clouds {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: night-shine;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    background-image: url(../img/moon.png);
    background-size: 120vh 120vh;
    background-repeat: no-repeat;
    background-position: 10vw -70vh;
  }
}

///////////////////////////////////////////////////
  */

  // SNOWY WEATHER
  /*
  ///////////////////////////////////////////////////
  SNOWY MORNING
    background: radial-gradient(
    farthest-corner at -30vw 140vh,
    #96860a 20%,
    #1a1143 80%
  );
}

.clouds {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: day-shine;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
    background-image: url(../img/sun-day.png);
    background-repeat: no-repeat;
    background-size: 100vh 100vh;
    background-position: -20vw 55vh;

    z-index: 9;
  }
}
}

///////////////////////////////////////////////////
  SNOWY DAY
  

///////////////////////////////////////////////////
  SNOWY EVENING
  background: radial-gradient(
    farthest-corner at 100vw 130vh,
    #ff8000 20%,
    #5a3673 80%
  );

///////////////////////////////////////////////////
  SNOWY NIGHT
  background: radial-gradient(
    farthest-corner at 40vw -130vh,
    #8493af 10%,
    #060221 70%
  );

  */
}

// .clouds {
//   &::before {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     animation-name: night-shine;
//     animation-iteration-count: infinite;
//     animation-duration: 3s;
//     animation-timing-function: linear;
//     background-image: url(../img/sun-day.png);
//     background-size: 120vh 120vh;
//     background-repeat: no-repeat;
//     background-position: 65vw 35vh;
//   }
// }

// .clouds {
//   &::before {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     animation-name: clouds-movement;
//     animation-iteration-count: infinite;
//     animation-duration: 60s;
//     animation-timing-function: linear;
//     background-image: url(../img/cloud-4.png);
//     background-repeat: repeat-x;
//     background-size: 100% 100%;

//     z-index: 9;
//   }

//   &::after {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     animation-name: clouds-movement;
//     animation-duration: 30s;
//     background-image: url(../img/cloud-3.png);
//     background-repeat: repeat-x;
//     background-size: 100% 140%;
//     background-position-y: -10vh;
//     filter: brightness(70%);

//     z-index: 10;
//   }
// }

.clouds,
.clouds::after,
.clouds::before {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(https://media.geeksforgeeks.org/wp-content/uploads/20200828184719/rain-300x300.png);
  animation: rain 0.4s linear infinite;
  opacity: 0;
}

@keyframes rain {
  0% {
    background-position: 0 0;
    opacity: 1;
  }

  100% {
    background-position: 10% 100%;
    opacity: 1;
  }
}
