.main {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15vh 5vh repeat(8, 10vh);
  gap: 1rem;
  overflow: hidden;

  &__container {
    grid-column: 2 / 4;
    grid-row: 1 / span 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(7px) brightness(97%);

    // box-shadow: rgba(0, 0, 0, 0.15) -0.5rem -0.5rem 2rem 1rem;
    // border: 1px solid black;

    position: relative;
    z-index: 30;
  }
}
