.info {
  grid-column: 1 / -1;
  grid-row: 7 / -1;
  z-index: 100;

  &__container {
    width: 70%;
    height: 100%;

    // border-radius: 10%;
    // background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    transform: translateY(-7rem);

    &-temperature {
      margin-left: 10rem;
      margin-right: 4rem;
      font-size: 16rem;
    }

    &__location {
      &-city {
        font-size: 7rem;
      }

      &-date {
        font-size: 3rem;
      }
    }
  }
}
