// Snow or stars
@mixin bg-dots {
  background: radial-gradient(4px 4px at 150px 240px, #fff, transparent),
    radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 340px 30px, #fff, transparent),
    radial-gradient(7px 7px at 365px 140px, #fff, transparent),
    radial-gradient(3px 3px at 620px 530px, #fff, transparent),
    radial-gradient(5px 5px at 190px 650px, #fff, transparent),
    radial-gradient(2px 2px at 150px 420px, #fff, transparent),
    radial-gradient(6px 6px at 450px 450px, #fff, transparent),
    radial-gradient(4px 4px at 500px 480px, #fff, transparent),
    radial-gradient(3px 3px at 630px 350px, #fff, transparent),
    radial-gradient(4px 4px at 700px 250px, #fff, transparent),
    radial-gradient(4px 4px at 550px 420px, #fff, transparent),
    radial-gradient(3px 3px at 660px 380px, #fff, transparent),
    radial-gradient(4px 4px at 900px 220px, #fff, transparent),
    radial-gradient(5px 5px at 800px 150px, #fff, transparent);
}

@mixin bg-rain {
  background: radial-gradient(1px 30px at 100px 50px, #fff, transparent),
    radial-gradient(1px 30px at 255px 100px, #fff, transparent),
    radial-gradient(1px 30px at 535px 250px, #fff, transparent),
    radial-gradient(1px 30px at 620px 530px, #fff, transparent),
    radial-gradient(1px 30px at 190px 650px, #fff, transparent),
    radial-gradient(1px 30px at 150px 120px, #fff, transparent),
    radial-gradient(1px 30px at 400px 450px, #fff, transparent),
    radial-gradient(1px 30px at 500px 480px, #fff, transparent),
    radial-gradient(1px 30px at 630px 350px, #fff, transparent),
    radial-gradient(1px 30px at 820px 170px, #fff, transparent);
}

@mixin sun-moon-day-fix {
  top: 0;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px; /* Half the height */
  margin-left: -250px; /* Half the width */
}

@mixin full-screen-absolute {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // width: 100vw;
  // height: 100vh;
  overflow: hidden;
}
