.search-form {
  grid-column: 5 / span 4;
  grid-row: 1 / span 3;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 30;

  &__input {
    all: unset;
    font-size: 2rem;
    padding: 1rem 3rem;
    border: none;
    background: grey;
    border-bottom: 2px solid black;
    border-radius: 200px;
    transition: all 0.2s;
    text-transform: uppercase;

    &::placeholder {
      text-transform: none;
      color: lightgrey;
    }

    &:focus {
      transform: scaleX(1.1);
      letter-spacing: 1px;
    }
  }

  &__icon-search {
    z-index: 104200;
    width: 10rem;
    height: 10rem;
  }
}
