.search-form {
  grid-column: 4 / span 6;
  grid-row: 3 / span 5;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 50;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    filter: blur(2px);
    border-radius: 50px;
  }

  &__h1 {
    font-size: 7rem;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  &__input {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &-city {
      all: unset;

      width: 50%;
      font-size: 2rem;
      padding: 1rem 4rem;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 200px;
      transition: all 0.2s;
      text-transform: uppercase;
      transform: translateX(1.5rem);

      &::placeholder {
        text-transform: none;
        color: lightgrey;
      }

      &:focus {
        transform: translateX(2rem) scaleX(1.1);
        letter-spacing: 1px;
      }
    }

    &-city:focus ~ &-icon-search {
      transform: translateX(0rem);
    }

    &-icon-search {
      all: unset;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      transform: translateX(-2.5rem);
      transition: all 0.2s;
      z-index: 70;
      // Grey
      filter: invert(68%) sepia(0%) saturate(1204%) hue-rotate(188deg)
        brightness(74%) contrast(84%);
    }
  }
}
