.search-form {
  grid-column: 5 / span 4;
  grid-row: 1 / span 2;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;

  &__input {
    all: unset;
    display: none;

    width: 50%;
    font-size: 2rem;
    padding: 1rem 6rem;
    border: none;
    background-color: black;
    border-radius: 200px;
    transition: all 0.2s;
    text-transform: uppercase;
    transform: translateX(1.5rem);

    &::placeholder {
      text-transform: none;
      color: lightgrey;
    }

    &:focus {
      transform: translateX(2rem) scaleX(1.1);
      letter-spacing: 1px;
    }
  }

  &__input:focus ~ &__icon-search {
    transform: translateX(0rem);
  }

  &__icon-search {
    width: 2.5rem;
    height: 2.5rem;
    display: none;

    transform: translateX(-2.5rem);
    transition: all 0.2s;
    z-index: 70;
    // Grey
    filter: invert(68%) sepia(0%) saturate(1204%) hue-rotate(188deg)
      brightness(74%) contrast(84%);
  }
}
