// Rain and thunder are here

.thunder {
  @include full-screen-absolute;

  background-color: white;
  z-index: 15;
  animation: thunder 7s linear infinite;
}

.rainy,
.cloudy {
  &-morning {
    background: radial-gradient(
      farthest-corner at -30vw 140vh,
      #986913 10%,
      #2f4571 50%
    );
  }

  &-day {
    background: radial-gradient(
      farthest-corner at 50vw -50vh,
      #819bc0 15%,
      #30309c 90%
    );
  }

  &-evening {
    background: radial-gradient(
      farthest-corner at 100vw 100vh,
      #674812 5%,
      #07324d 40%
    );
  }

  &-night {
    background: radial-gradient(
      farthest-corner at 50vw -50vh,
      #18223d 15%,
      #050a3d 90%
    );
  }
}

.rain,
.rain::before,
.rain::after {
  content: "";
  position: absolute;
  top: -60vh;
  left: 0;
  right: 0;
  bottom: 0;

  // mask-image: linear-gradient(to bottom, transparent 10%, #000 20%);
  @include bg-rain;

  background-size: 60vw 60vh;
  animation: rain 1s linear infinite;

  // @media only screen and (max-width: $bp-large) {
  //   background-size: 100vw 60vh;
  // }
}

.snow::before,
.rain::before {
  margin-left: -20vw;
  opacity: 0.8;
  filter: blur(1px);
  animation-duration: 10s;
  animation-direction: reverse;
}

.snow::after,
.rain::after {
  margin-left: -10vw;
  opacity: 0.6;
  filter: blur(2px);
  animation-duration: 10s;
  animation-direction: reverse;
}
