.snowy {
  &-morning {
    background: radial-gradient(
      farthest-corner at -30vw 140vh,
      #f49f0e 5%,
      #15678d 60%
    );
  }

  &-day {
    background: radial-gradient(
      farthest-corner at 50vw -50vh,
      #51b5b8 25%,
      #077a89 90%
    );
  }

  &-evening {
    background: radial-gradient(
      farthest-corner at 100vw 100vh,
      #674812 5%,
      #183e55 40%
    );
  }

  &-night {
    background: radial-gradient(
      farthest-corner at 50vw -50vh,
      #04374d 25%,
      #011021 90%
    );
  }
}

.snow,
.snow::after,
.snow::before {
  content: "";
  position: absolute;
  top: -60vh;
  left: 0;
  right: 0;
  bottom: 0;

  // Snow dots gradient
  @include bg-dots;
  background-size: 60vw 60vh;
  animation: snow 1.5s linear infinite;

  // @media only screen and (max-width: $bp-large) {
  //   background-size: 100vw 60vh;
  // }
}

.snow::before {
  margin-left: -20vw;
  opacity: 0.8;
  filter: blur(1px);
  animation-duration: 8s;
  animation-direction: reverse;
}

.snow::after {
  margin-left: -10vw;
  opacity: 0.6;
  filter: blur(2px);
  animation-duration: 8s;
  animation-direction: reverse;
}
