.sunny,
.cloudy-scattered {
  &-day::before,
  &-night::before {
    @include full-screen-absolute;

    animation: night-shine 3s linear infinite;
    transition: all 1s;
    background-image: url(../img/sun-day.png);
    background-repeat: no-repeat;
    @include sun-moon-day-fix;

    z-index: 5;
    transform: scale(2);
    transform-origin: center center;
  }

  &-morning {
    background: radial-gradient(
      farthest-corner at 0 100vh,
      #9f9127 5%,
      #40395f 70%
    );
  }

  &-day {
    background: radial-gradient(
      farthest-corner at 40vw -100vh,
      #d9ff00 20%,
      #6598ff 70%
    );
  }

  &-evening {
    background: radial-gradient(
      farthest-corner at 140vw 100vh,
      #d5710c 20%,
      #5a3673 70%
    );
  }

  &-night {
    background: radial-gradient(
      farthest-corner at 50vw -90vh,
      #7c96c6 10%,
      #060221 60%
    );

    &::before {
      background-image: url(../img/moon.png);
    }

    &::after {
      @include full-screen-absolute;
      // Star dots gradient
      @include bg-dots;
      background-size: 50vw 50vh;
    }
  }
}
