.sunny,
.cloudy-scattered {
  &-morning::before,
  &-day::before,
  &-evening::before,
  &-night::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    animation: night-shine 3s linear infinite;
    transition: all 1s;
    background-image: url(../img/sun-day.png);
    background-repeat: no-repeat;
    z-index: 5;
    transform: scale(2);
  }

  &-morning {
    background: radial-gradient(
      farthest-corner at -30vw 140vh,
      #96860a 20%,
      #1a1143 80%
    );

    &::before {
      top: 850;
      left: 350;
    }
  }

  &-day {
    background: radial-gradient(
      farthest-corner at 40vw -130vh,
      #ffe100 20%,
      #6598ff 80%
    );

    &::before {
      top: -50;
      left: 1150;
    }
  }

  &-evening {
    background: radial-gradient(
      farthest-corner at 100vw 130vh,
      #ff8000 20%,
      #5a3673 80%
    );
    &::before {
      top: 850;
      left: 2000;
    }
  }

  &-night {
    background: radial-gradient(
      farthest-corner at 40vw -130vh,
      #7c96c6 25%,
      #060221 70%
    );
    &::before {
      top: 850;
      left: 350;
      background-image: url(../img/moon.png);
    }
  }

  &-dupa {
    background: linear-gradient(to bottom, #fff 2%, #000 50%);
  }
}

.cloudy-scattered {
  &-morning::after,
  &-day::after,
  &-evening::after,
  &-night::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/clouds-scattered.png);
    background-size: cover;
    animation: clouds-movement 30s linear infinite;
    background-repeat: repeat-x;
    z-index: 7;
  }
}
