// Cloudy has background equal to rainy one. (Located under _rainy.scss)
// Rainy and snowy clouds included here
.cloudy {
  &-morning::before,
  &-day::before,
  &-evening::before,
  &-night::before {
    @include full-screen-absolute;

    background-repeat: repeat-x !important;
    background-size: 100% 100% !important;

    @media only screen and (max-width: $bp-tablet) {
      background-size: 200% 100%;
    }

    animation: clouds-movement 40s linear infinite;
    z-index: 10;
  }
}
