.rainy,
.cloudy {
  &-morning {
    background: radial-gradient(
      farthest-corner at -30vw 140vh,
      #986913 10%,
      #2f4571 60%
    );
  }

  &-day {
    background: radial-gradient(
      farthest-corner at 50vw -50vh,
      #819bc0 15%,
      #30309c 90%
    );
  }

  &-evening {
    background: radial-gradient(
      farthest-corner at 100vw 100vh,
      #674812 10%,
      #07324d 60%
    );
  }

  &-night {
    background: radial-gradient(
      farthest-corner at 50vw -50vh,
      #18223d 15%,
      #050a3d 90%
    );
  }
}
