.cloudy-scattered {
  &-morning::after,
  &-day::after,
  &-evening::after,
  &-night::after {
    @include full-screen-absolute;

    background-repeat: repeat-x !important;
    background-size: 100% 100% !important;

    animation: clouds-movement 30s linear infinite;
    background-repeat: repeat-x;

    z-index: 7;
  }
}
