.cloudy-scattered {
  &-morning::after,
  &-day::after,
  &-evening::after,
  &-night::after {
    @include full-screen-absolute;

    background-image: url(../img/clouds-scattered.png);
    background-size: cover;
    animation: clouds-movement 30s linear infinite;
    background-repeat: repeat-x;

    z-index: 7;
  }

  &-morning {
    &::after {
      filter: $filter-cloudy-morning;
    }
  }

  &-day {
    &::before {
      filter: $filter-cloudy-day;
    }
  }

  &-evening {
    &::after {
      filter: $filter-cloudy-evening;
    }
  }

  &-night {
    &::after {
      filter: $filter-cloudy-night;
    }
  }
}
