.cloudy-scattered {
  &-morning::after,
  &-day::after,
  &-evening::after,
  &-night::after {
    @include full-screen-absolute;

    background-size: cover;
    animation: clouds-movement 30s linear infinite;
    background-repeat: repeat-x;

    z-index: 7;
  }
}
