.sunny,
.cloudy-scattered {
  &-day::before,
  &-night::before {
    @include full-screen-absolute;
    @include sun-moon-day-fix;

    animation: night-shine 3s linear infinite;
    background: url(../img/background-components/sun.png);
    background-repeat: no-repeat;

    z-index: 5;
    transform: scale(2);

    transform-origin: center center;
  }

  &-morning {
    background: radial-gradient(
      farthest-corner at 0 100vh,
      #9f9127 5%,
      #40395f 70%
    );
  }

  &-day {
    background: radial-gradient(
      farthest-corner at 50vw -100vh,
      #d9ff00 20%,
      #6598ff 70%
    );

    @media only screen and (max-width: $bp-mobile) {
      & {
        background: radial-gradient(
          farthest-corner at 50vw -100vh,
          #d9ff00 30%,
          #6598ff 50%
        );
      }
    }
  }

  &-evening {
    background: radial-gradient(
      farthest-corner at 140vw 100vh,
      #d5710c 20%,
      #5a3673 70%
    );
  }

  &-night {
    background: radial-gradient(
      farthest-corner at 50vw -90vh,
      #7c96c6 10%,
      #060221 60%
    );

    @media only screen and (max-width: $bp-mobile) {
      & {
        background: radial-gradient(
          farthest-corner at 50vw -90vh,
          #7c96c6 20%,
          #060221 50%
        );
      }
    }

    &::before {
      background-image: url(../img/background-components/moon.png);
      @media only screen and (max-width: $bp-mobile) {
        transform: scale(1.4);
      }
    }
  }
}

.sunny-night {
  &::after {
    @include full-screen-absolute;
    // Star dots gradient
    @include bg-dots;
    background-size: 50vw 50vh;
  }
}
