// Here you can find clouds for rainy and snowy themes.
// Clouds for cloudy theme are in _cloudy.scss
.rainy,
.snowy {
  &-morning::before,
  &-day::before,
  &-evening::before,
  &-night::before {
    @include full-screen-absolute;

    animation: clouds-movement 80s linear infinite;

    background-repeat: repeat-x;
    background-size: 100% 100%;
    z-index: 10;
  }
}

.rainy {
  &-morning::before {
    background: url(../img/background-components/rainy-morning.png);
  }
  &-day::before {
    background: url(../img/background-components/rainy-day.png);
  }
  &-evening::before {
    background: url(../img/background-components/rainy-evening.png);
  }
  &-night::before {
    background: url(../img/background-components/rainy-night.png);
  }
}

.snowy {
  &-morning::before {
    background: url(../img/background-components/snowy-morning.png);
  }
  &-day::before {
    background: url(../img/background-components/snowy-day.png);
  }
  &-evening::before {
    background: url(../img/background-components/rainy-evening.png);
  }
  &-night::before {
    background: url(../img/background-components/snowy-night.png);
  }
}

.cloudy {
  &-morning::before {
    background: url(../img/background-components/cloudy-morning.png);
  }

  &-day::before {
    background: url(../img/background-components/cloudy-day.png);
  }

  &-evening::before {
    background: url(../img/background-components/cloudy-evening.png);
  }

  &-night::before {
    background: url(../img/background-components/cloudy-night.png);
  }
}

.cloudy-scattered {
  &-morning::after {
    background: url(../img/background-components/cloudy-scattered-morning.png);
  }

  &-day::after {
    background: url(../img/background-components/cloudy-scattered-day.png);
  }

  &-evening::after {
    background: url(../img/background-components/cloudy-scattered-evening.png);
  }

  &-night::after {
    background: url(../img/background-components/cloudy-scattered-night.png);
  }
}
