// Here you can find clouds for rainy and snowy themes.
// Clouds for cloudy theme are in _cloudy.scss

.rainy {
  &-morning::before {
    background: getCloudsImage("rainy", "morning");
  }

  &-day::before {
    background: getCloudsImage("rainy", "day");
  }

  &-evening::before {
    background: getCloudsImage("rainy", "evening");
  }

  &-night::before {
    background: getCloudsImage("rainy", "night");
  }
}

.snowy {
  &-morning::before {
    background: getCloudsImage("snowy", "morning");
  }

  &-day::before {
    background: getCloudsImage("snowy", "day");
  }

  &-evening::before {
    background: getCloudsImage("snowy", "evening");
  }

  &-night::before {
    background: getCloudsImage("snowy", "night");
  }
}

.rainy,
.snowy {
  &-morning::before,
  &-day::before,
  &-evening::before,
  &-night::before {
    @include full-screen-absolute;

    background-repeat: repeat-x;
    background-size: 100% 100%;

    @media only screen and (max-width: $bp-tablet) {
      background-size: 200% 100%;
    }

    animation: clouds-movement 80s linear infinite;

    z-index: 10;
  }
}
