.nav {
  // Nav opening themes form
  &__circle {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    z-index: 900;

    transition: transform 0.4s;

    // Invisible checkbox defining wheter it was clicked or not
    &-checkbox {
      all: unset;
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;

      z-index: 1050;
    }

    // Resizing background
    &-background {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: all 0.85s;
      background-color: rgba(0, 0, 0, 0.4);
      transform: scale(1);
      pointer-events: none;
    }

    // Adds 3 white lines on background
    &-line {
      display: flex;
      position: relative;
      width: 60%;
      height: 3px;

      background-color: white;

      &::before,
      &::after {
        content: "";
        width: 100%;
        position: absolute;
        transition: 0.2s all;
        height: 3px;
        background-color: white;
      }

      &::before {
        top: -1.3rem;
      }

      &::after {
        top: 1.3rem;
      }
    }

    // Animation of lines
    &-checkbox:checked ~ &-line {
      background-color: transparent;
    }

    &-checkbox:checked ~ &-line::before {
      transform: rotate(45deg) translateX(13%);
      transform-origin: 20%;
    }

    &-checkbox:checked ~ &-line::after {
      transform: rotate(-45deg) translateX(13%);
      transform-origin: 20%;
    }

    // Background increase animation
    &-checkbox:checked ~ &-background {
      background-color: rgba(0, 0, 0, 0.9);
      width: 150rem;
      height: 150rem;
      transform: scale(6);
    }
  }

  // Container creating circle
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 950;

    width: 100%;
    height: 100%;
  }

  // Nav from themes to entry view
  &__back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;

    position: relative;
    z-index: 100;

    span {
      transition: 0.2s;
      cursor: pointer;
      text-align: center;
      font-size: 3rem;
      text-decoration: underline;
    }
  }

  // Nav from weather info to entry view
  &__arrow {
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    z-index: 900;
    transition: 0.5s all;
    background-color: var(--info-bg);
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    cursor: pointer;

    &--hidden {
      transform: translateX(-20vw);
    }

    &__icon {
      z-index: 1000;
      width: 60%;
      height: 100%;

      filter: $filter-white;
    }
  }

  // Nav from entry view to themes view "See all possible themes"
  &__link {
    all: unset;
    font-size: 1.5rem;
    color: lightgrey;
    text-decoration: underline;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 5rem;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
