.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  max-width: 60rem;
  width: 90%;
  height: 45rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--info-bg);
  border-radius: 50px;
  transition: all 0.2s;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  z-index: 100;

  &-loaded__input,
  &__input {
    display: flex;
    justify-content: center;
    align-items: center;

    &-city {
      all: unset;

      width: 80%;
      font-size: 2rem;
      padding: 0 4rem;
      border-radius: 200px;

      transition: all 0.2s;
      text-transform: capitalize;
      transform: translateX(1.5rem);

      &::placeholder {
        text-transform: none;
        color: lightgrey;
      }

      &:focus {
        transform: translateX(1.5rem) scaleX(1.1);
        letter-spacing: 1px;
      }
    }

    &-city:focus ~ &__icon {
      transform: translateX(0rem);
    }

    &__icon {
      all: unset;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      transform: translateX(-2.5rem);
      transition: all 0.2s;
      z-index: 70;
    }
  }

  &__h1 {
    width: 80%;
    text-align: center;
    font-size: 5.5rem;
    font-weight: 300;
    margin-bottom: 3rem;
    border-bottom: 1px solid grey;
    padding-bottom: 2rem;
    white-space: nowrap;
  }

  &__github {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(orangered, 0.2);
    max-width: 35rem;

    border: 2px solid orangered;
    border-radius: 20px;

    margin-top: 3rem;
    padding: 1rem;

    img {
      width: 3.5rem;
      height: 3.5rem;
    }

    &-message {
      font-size: 2rem;
      font-weight: 600;
      color: rgb(255, 227, 227);
      margin-left: 1rem;
    }
  }

  &__input {
    width: 80%;
    margin-top: 4rem;

    &-city {
      height: 5rem;
      background-color: var(--info-bg);
    }
  }

  // For .info
  &-loaded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 100;
    transition: transform 0.4s;

    &__input {
      transition: transform 0.5s;
      z-index: 500;

      &-city {
        margin-top: 3.5rem;
        width: 50rem;
        height: 5rem;

        background-color: var(--info-bg);

        @media only screen and (max-width: $bp-tablet) {
          width: calc(15rem + 25vw);
        }
      }

      &__icon {
        margin-top: 3.5rem;
      }

      @media only screen and (max-width: $bp-mobile) {
        margin-top: 5.5rem;

        &-city {
          width: 60vw;
          height: 6rem;
        }

        &__icon {
          margin-top: 3rem;
          width: 3.5rem;
          height: 3.5rem;
          transform: translateX(-3.5rem);
        }

        &-city:focus ~ &__icon {
          transform: translateX(-1.5rem);
        }
      }
    }
  }
}
