.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 60rem;
  height: 45rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  transition: all 0.2s;

  z-index: 100;

  &--hidden {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
    transform-origin: center center;
  }

  &-loaded__input,
  &__input {
    display: flex;
    justify-content: center;
    align-items: center;

    &-city {
      all: unset;

      font-size: 2rem;
      padding: 0 4rem;
      border-radius: 200px;

      transition: all 0.2s;
      text-transform: uppercase;
      transform: translateX(1.5rem);

      &::placeholder {
        text-transform: none;
        color: lightgrey;
      }

      &:focus {
        transform: translateX(1.5rem) scaleX(1.1);
        letter-spacing: 1px;
      }
    }

    &-city:focus ~ &__icon {
      transform: translateX(0rem);
      // filter: $filter-white;
    }

    &__icon {
      all: unset;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      transform: translateX(-2.5rem);
      transition: all 0.2s;
      z-index: 70;
    }
  }

  &__h1 {
    width: 80%;
    text-align: center;
    font-size: 6rem;
    font-weight: 300;
    margin-bottom: 3rem;
    border-bottom: 1px solid grey;
  }

  &__input {
    margin-top: 4rem;

    &-city {
      width: 40rem;
      height: 5rem;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  // For .info
  &-loaded {
    z-index: 100;
    transition: transform 0.4s;

    &__input {
      transition: transform 0.5s;
      z-index: 500;

      &-city {
        margin-top: 3.5rem;
        width: 50rem;
        height: 5rem;

        background-color: var(--info-bg);

        @media only screen and (max-width: $bp-tablet) {
          & {
            width: calc(15rem + 25vw);
          }
        }
      }

      &__icon {
        margin-top: 3.5rem;
      }

      @media only screen and (max-width: $bp-mobile) {
        &-city {
          margin-left: 9rem;
          width: calc(25rem + 10vw);
          height: 6rem;
        }

        &__icon {
          width: 3.5rem;
          height: 3.5rem;
          transform: translateX(-3.5rem);
        }

        &-city:focus ~ &__icon {
          transform: translateX(-1.5rem);
          // filter: $filter-white;
        }
      }
    }
  }
}
